@import 'tailwindcss';

:root{
  --background: #bbc9d8;
  --foreground: #444444;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: "Poppins", sans-serif; 
  --font-playfair: "PlayFair Display", sans-serif; 
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body{
    @apply font-poppins;
  }

  h1{
    @apply font-playfair text-5xl font-bold text-gray-400 mb-16;
  }
}
